<mat-divider [inset]="true"></mat-divider>
<p>Comments about the post:</p>

<div *ngFor="let comment of comments" class="comment">
  <div><strong>{{comment.name}}</strong> ({{comment.email}})</div>
  <div>{{comment.body}}</div>
</div>
