<div class="user-list">
  <mat-card *ngIf="!isLoading" class="card">
    <mat-card-title>
      Posts and comments
    </mat-card-title>
    <mat-card-content>
      <p>
        Please select a user to find their posts:
      </p>
      <mat-button-toggle-group appearance="legacy"
                               style="display: flex;">
        <mat-button-toggle *ngFor="let user of usersAndPosts"
                           (click)="onSelect(user)">
          {{ user.name | firstNamePipe }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-content>
  </mat-card>

  <mat-spinner *ngIf="isLoading"
               class="blue-spinner"
               style="margin:0 auto;"></mat-spinner>


  <app-posts-list [selectedUser]="selectedUser">

  </app-posts-list>

</div>

