.user-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width: 900px;
}

.card {
  background-color: white;
}

.mat-card-title {
  padding-bottom: 20px;
}

.mat-button-toggle {
  font-size: larger;
  padding: 5px;
  color: darkgrey;
}

.mat-button-toggle-checked {
  color: white;
  background-color: #3a8ddf;
  font-size: larger;
}
