<div class="post-list" *ngIf="selectedUser">
  <mat-card class="posts-card">
    <mat-card-title>
      Post from {{selectedUser?.name}}
    </mat-card-title>
    <mat-card-content>

      <mat-accordion *ngFor="let post of selectedUser?.posts; let itemIndex = index">
        <mat-expansion-panel class="post"
                             *ngIf="itemIndex < DEFAULT_POST_SHOW || showAll"
                             [expanded]="expanded === post.id"
                             (opened)="showComments(post.id)">
          <mat-expansion-panel-header>
            <mat-panel-title style="flex-direction: column">
              <div><strong>{{post.title | titlecase}}</strong></div>
              <div>{{post.body}}</div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <app-comments-list [comments]="comments"></app-comments-list>

          <mat-spinner *ngIf="isLoading"
                       class="blue-spinner"
                       style="margin:0 auto;"></mat-spinner>

        </mat-expansion-panel>
      </mat-accordion>


      <button mat-raised-button class="showAllPosts" *ngIf="!showAll" (click)="showAllPosts()">
        ... Load all
      </button>


    </mat-card-content>
  </mat-card>

</div>


