.post-list{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  height: 60vh;
  min-height: 60vh;
}

.post{
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.showAllPosts{
  margin-top: 10px;
  background-color: #3a8ddf;
  color: white;
}

.mat-card-title {
  padding-bottom: 20px;
}

.posts-card {
  overflow-y: auto;
  flex-grow: 1;
}
