/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Helvetica Neue", sans-serif; }


.blue-spinner circle{
  stroke:#3a8ddf !important;
}
